---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	<main>
		<Hero />
		<div class="max-w-3xl mx-auto pt-20 pb-32 px-2">
			<div class="flex flex-col gap-y-24">
				<div>
					<div class="mt-4 grid grid-cols-1">
						<div class="card bg-base-200 w-full shadow-sm">
							<div class="card-body">
								<h2 class="card-title text-2xl" id="contact">
									Kontakta mig
								</h2>
								<p>Ring eller n책t?</p>
							</div>
							<figure>
								<img
									src="/studio_acoustics.jpg"
									alt="Studio acoustics"
								/>
							</figure>
						</div>
					</div>
				</div>
				<div>
					<h2 class="text-2xl mb-4">S책h채r tyckte n책gra andra</h2>
					<div class="grid grid-cols-2 gap-4">
						<div class="card bg-base-200 w-full shadow-sm">
							<div class="card-body">
								<h2 class="card-title" id="contact">
									Kerstin, 72
								</h2>
								<p>De va bra.</p>
							</div>
							<figure>
								<img
									src="/studio_acoustics.jpg"
									alt="Studio acoustics"
								/>
							</figure>
						</div>
						<div class="card bg-base-200 w-full shadow-sm">
							<div class="card-body">
								<h2 class="card-title" id="contact">
									Kerstin, 72
								</h2>
								<p>De va bra.</p>
							</div>
							<figure>
								<img
									src="/studio_acoustics.jpg"
									alt="Studio acoustics"
								/>
							</figure>
						</div>
						<div class="card bg-base-200 w-full shadow-sm">
							<div class="card-body">
								<h2 class="card-title" id="contact">
									Kerstin, 72
								</h2>
								<p>De va bra.</p>
							</div>
							<figure>
								<img
									src="/studio_acoustics.jpg"
									alt="Studio acoustics"
								/>
							</figure>
						</div>
						<div class="card bg-base-200 w-full shadow-sm">
							<div class="card-body">
								<h2 class="card-title" id="contact">
									Kerstin, 72
								</h2>
								<p>De va bra.</p>
							</div>
							<figure>
								<img
									src="/studio_acoustics.jpg"
									alt="Studio acoustics"
								/>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
