<div
    class="hero min-h-screen"
    style="background-image: url(/images/studio_hero.jpg);"
>
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold font-serif">Studio Ruffen</h1>
            <p class="mb-5">
                Jag hjälper dig och ditt band med demo eller liknande
                inspelningar. Utrustning, min kompetens, mixning och mastring.
                300 kr/timme. Hej.
            </p>
            <a href="#contact" class="btn btn-primary btn-lg">Kontakta mig</a>
        </div>
    </div>
</div>
